body {
  font-family: $fontFamily;
  color: $white;
}

.h1-header-style {
  // MOBILE STYLES
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -2.5px;
  @include respon(lrgMob) {
    font-size: 135px;
    line-height: 135px;
    letter-spacing: -3.3px;
  }
  @include respon(lrgTab) {
    // TABLET STYLES
    font-size: 175px;
    line-height: 175px;
    letter-spacing: -4.38px;
  }
  @include respon(desk) {
    // DESKTOP STYLES
    font-size: 200px;
    line-height: 200px;
    letter-spacing: -5px;
    font-weight: $fontWeightBold;
  }
}

.h2-header-style {
  // MOBILE STYLES
  font-weight: $fontWeightBold;
  font-size: 20px;
  // line-height: 24px;
  @include respon (lrgMob){
    font-size: 30px;
    // letter-spacing: 36px;
  }
  @include respon (lrgTab){
    // TABLET STYLES
    font-size: 40px;
    line-height: 48px;
  }
  @include respon (desk){
    // desktop styles
    font-size: 56px;
    line-height: 68px;
  }
}

.h3-header-style {
  text-transform: uppercase;
  font-weight: $fontWeightBold;
  // MOBILE STYLES
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 28px;
  @include respon(lrgMob) {
    font-size: 16px;
    letter-spacing: 3.3px;
  }
  @include respon(lrgTab) {
    // TABLET STYLES
    font-size: 18px;
    letter-spacing: 3.6px;
  }
  @include respon(desk) {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 4.8px;
  }
}

.h4-header-style {
  font-weight: $fontWeightRegular;
  text-transform: uppercase;
  // Mobile Styles
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 3px;
  @include respon(lrgMob) {
    font-size: 17px;
    line-height: 27px;
  }
  @include respon(lrgTab) {
    // TABLET STYLES
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3.6px;
  }
  @include respon(desk) {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 4px;
  }
}

.h5-header-style {
  font-size: 18px;
  line-height: 28px;
  font-weight: $fontWeightBold;
  // TABLET STYLES
  // MOBILE STYLES
}

.h6-header-style {
  font-size: 10px;
  line-height: 28px;
  font-weight: $fontWeightBold;
  letter-spacing: 2px;
  @include respon(lrgTab) {
    font-size: 13px;
    letter-spacing: 2.6px;
  }
  @include respon(desk) {
    font-size: 15px;
    letter-spacing: 3px;
  }
}

.slide-header-style{
  font-size: 10px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  @include respon(lrgTab){
    font-size: 13px;
    letter-spacing: 2.6px;
  }
  @include respon (desk){
    font-size: 15px;
    letter-spacing: 3px;
  }
}

.slide-text-style{
  font-size: 20px;
  line-height: 24px;
  @include respon (lrgTab){
    font-size: 40px;
    line-height: 48px;
  }
  @include respon (desk){
    
  }
}

.timezone-text {
  font-weight: $fontWeightLight;
  line-height: 28px;
  // MOBILE STYLES
  font-size: 15px;
  @include respon(lrgMob) {
    font-size: 22px;
  }
  @include respon(lrgTab) {
    // TABLET STYLES
    font-size: 32px;
  }
  @include respon(desk) {
    font-size: 40px;
  }
}

.basic-text-style {
  font-weight: $fontWeightRegular;
  // MOBILE
  font-size: 12px;
  line-height: 22px;
  @include respon(lrgMob) {
    font-size: 15px;
    line-height: 25px;
  }
  @include respon(lrgTab) {
    // TABLET STYLES
    font-size: 18px;
    line-height: 28px;
  }
}

.basic-text-style-bold {
  font-weight: $fontWeightBold;
}

.btn-text {
  // TABLET
  // MOBILE
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3.75px;
  @include respon(lap) {
    // DESKTOP
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 5px;
  }
}
