
// Colours

$black: #000000;
$lightBlack: #303030;
$darkGrey: #707070;
$lightGrey: #999999;
$white: #ffffffff;

// typography
$fontFamily: 'Inter', sans-serif;
$fontWeightBold: 700;
$fontWeightRegular: 400;
$fontWeightLight: 300;