
.btn-basic{
  border: none;
  width: 115px;
  height: 39px;
  background-color: $white;
  font-family: $fontFamily;
  font-weight: $fontWeightBold;
  border-radius: 28px;
  color: $lightGrey;
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  // justify-content: center;
  gap: 22px;
  align-items: center;
  padding: 0 17px;
  @include respon (lap){
    justify-content: space-between;
    width: 146px;
    height: 56px;
  }
  &:hover{
    cursor: pointer;
  }
  // &::after{
  //   content: "";
  //   position: absolute;
  //   z-index: 0;
  //   top: 9%;
  //   right: 2.5%;
  //   background-color: $lightBlack;
  //   width: 32px;
  //   height: 32px;
  //   border-radius: 50%;
  //   @include respon (lap){
  //     top: 15%;
  //     width: 40px;
  //     height: 40px;
  //   }
  // }
}