.quote{
  width: 100%;
  max-width: 572px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  @include respon (tab){
    gap: 13px;
  }
  &-text-icon-wrap{
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;
    @include respon (tab){
      justify-content: flex-end;
    }
  }
  &__refresh-icon{
    position: relative;
    top: 5px;
    fill: $white;
  }
  &__text{
    width: 90%;
  }
  &__author{
    font-weight: $fontWeightBold;
  }
}