.time-location {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  &-msg {
    display: flex;
    gap: 17px;
    &__greeting {
      &--extra {
        display: none;
        @include respon(tab) {
          display: inline;
        }
      }
    }
  }

  &-timezone {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    @include respon(mob) {
      flex-direction: row;
      align-items: baseline;
    }
  }
  &__btn {
    &-text{
      width: 75%;
    }
    &-whole-icon{
      width: 25%;
      position: absolute;
      right: 5%;
    }
  }
  &-btn-circle{
    position: relative;
    background-color: $lightBlack;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    @include respon (lap){
      height: 40px;
      width: 40px;
    }
    &__icon{
      &-active{
        transform: rotate(180deg);
      }
    }
  }
}

.time-location__btn:hover > .time-location__btn-whole-icon > .time-location-btn-circle{
  background-color: $lightGrey;
}